
// Colors

// Colors - Main
$color-primary: #3A8DFF;
$color-secondary:#B0B0B0;

// Colors - Sub
$color-white: #fff;
$color-black: #000;


// Padding

$padding-small: 2rem;
$padding-med: 4rem;

// Margin

$margin-small: 2rem;

// Font

$default-input-font-size: 1.25rem;