.btn {
    padding: 1rem;
    
    margin: 1rem !important;

    &-text {
        font-size: 1.25rem;
        padding: 1rem 4rem;
        display: inline-block;
    }

    
}

.btn-primary {
    background-color: $color-primary !important;
}

.btn-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}